@media (max-width: 767px) {
    .center {
        margin: 24px;
    }

    .main-content {
        height: auto;
        flex-direction: column-reverse;
    }

    .product-card {
        width: 327px;
    }

    .card {
        &-image-container__img {
            width: 327px;
            height: 212px;
        }
    }

    .cart {
            margin-bottom: 24px;
            &-item::after {
                content: url(/Icons/Mobile-line-cart.svg);
            }
        }
}
