@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        margin: 40px;
    }
    .main-content {
        height: auto;
        flex-direction: column-reverse;
    }

    .product-card {
        width: 213.33px;
    }
    .cart {
        margin-bottom: 40px;
        &-item::after {
            content: url(/Icons/Tablet-line-cart.svg);
        }
    }
}
